*{
    margin:  0;
    width: 100%;

}

.kotak{
    height: 100vh;
    width: 100%;

}

.satu{
    background-color: white;
}

.dua{
    background-color: rgb(255, 255, 255);
}

.tiga{
background-color: rgba(255,255,255,0.8);
}

.empat {
    background-color: #fff;
}